<div class="row">
    <div class="col-12 col-md-8">
        <h2 class="text-primary">Post Item To Sell</h2>
        <form (ngSubmit)="onSellSubmit()" autocomplete="off">
            <div *ngIf="formError" class="form-group">
                <div class="alert alert-dark p-2 mt-4" role="alert">
                    <i class="fas fa-exclamation-triangle pe-2"></i>{{ formError }}
                </div>
            </div>
            <div class="form-group">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="productName" placeholder="Enter product name"
                    [(ngModel)]="name" name="orderName" required="required" />
                <div class="form-group">
                    <label for="productDescription" class="form-label">Product Description</label>
                    <textarea id="productDescription" class="form-control" rows="5"
                        placeholder="Enter product description" [(ngModel)]="description" name="orderDescription"
                        required="required"></textarea>
                </div>
                <div class="form-group">
                    <label for="sellPrice" class="form-label">Price</label>
                    <input type="number" class="form-control" id="sellPrice" placeholder="Enter price"
                        [(ngModel)]="price" name="sellPrice" />
                </div>
                <div class="form-group">
                    <label for="productStock" class="form-label">Stock</label>
                    <input type="number" class="form-control" id="productStock" placeholder="Enter stock"
                        [(ngModel)]="stock" name="productStock" />
                </div>
                <div class="form-group">
                    <label for="productImage" class="form-label">Image</label>
                    <input type="number" class="form-control" id="productImage" placeholder="Enter image"
                        [(ngModel)]="image_num" name="productImage" />
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-sm btn-primary me-2">
                        <i class="fa-regular fa-circle-check pe-2"></i>Sell
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>