<div class="row">
    <div class="col-12 col-md-8">
        <h2>Order Details</h2>
        <p><strong>Order ID:</strong> {{ order._id }}</p>
        <p><strong>Customer Name:</strong> {{ order.buyer_id }}</p>
        <p><strong>Seller Name:</strong> {{ order.seller_id }}</p>
        <p><strong>Product:</strong> {{ order.product_id }}</p>
        <p><strong>Price:</strong> {{ order.price }}</p>
        <p><strong>Quantity:</strong> {{ order.quantity }}</p>
        <p><strong>Order Date:</strong> {{ order.date }}</p>
        <p><strong>Address:</strong> {{ order.address }}</p>
        <p><strong>Status:</strong> {{ order.status }}</p>
        <p><strong>Type:</strong> {{ order.type }}</p>
        <label for="status">Change Status:</label>
        <select id="status" class="form-select" [(ngModel)]="newStatus" (change)="changeStatus()">
            <option value="pending">Pending</option>
            <option value="accepted">Accepted</option>
            <option value="completed">Completed</option>
            <option value="cancelled">Cancelled</option>
        </select>
    </div>
</div>