<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Mačje storitve d.o.o.</a>
        <a class="navbar-brand" routerLink="/{{tenant}}/">{{tenant}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <i class="fa-solid me-1" [ngClass]="{
                'fa-user-ninja': !isLoggedIn(),
                'fa-user-shield': isLoggedIn()
              }"></i>{{ getCurrentUser() }}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/{{tenant}}/login" *ngIf="!isLoggedIn()">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" *ngIf="isLoggedIn()" (click)="logout()">Log out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/{{tenant}}/register" *ngIf="!isLoggedIn()">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/{{tenant}}/cart"><i class="bi bi-cart"></i> Cart</a>
                </li>
                <li class="nav-item" *ngIf="isAdmin()">
                    <button class="btn btn-primary" (click)="fillData()">Fill Data</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="d-flex flex-column min-vh-100">
    <div class="container-xl flex-grow-1" id="telo">
        <router-outlet></router-outlet>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <p class="col-md-4 mb-0">&copy;Macje storitve d.o.o. 2024/2025</p>
    </footer>
</div>