/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background-image: url('../public/img/macje_storitve.png');
    background-repeat: repeat;
    background-size: 50px 50px;
    /* Default size */
}

.container-xl {
    flex-grow: 1;
}

/* Adjust background size for larger screens using Bootstrap breakpoints */
@media (min-width: 576px) {
    body {
        background-size: 75px 75px;
    }
}

@media (min-width: 768px) {
    body {
        background-size: 100px 100px;
    }
}

@media (min-width: 992px) {
    body {
        background-size: 150px 150px;
    }
}

@media (min-width: 1200px) {
    body {
        background-size: 200px 200px;
    }
}


/* Light mode styles */
@media (prefers-color-scheme: light) {
    body {
        background-color: #a8e2e9;
        /* Light background */
    }

    #telo {
        background-color: #ffffff;
        /* Light background color */
        color: #000000;
        /* Dark text color */
    }

    .navbar {
        background-color: #ffffff;
        /* Light navbar background */
    }

    .nav-link {
        color: #000000;
        /* Dark text color */
    }

    footer {
        background-color: #ffffff;
        /* Light footer background */
        color: #000000;
        /* Dark text color */
    }

    footer p {
        color: #000000 !important;
        /* Dark text color for <p> elements in footer */
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        /* Very dark background */
    }

    #telo {
        background-color: #1e1e1e;
        /* Dark background color */
        color: #ffffff;
        /* Light text color */
    }

    .navbar {
        background-color: #313131 !important;
        /* Dark navbar background */
    }

    .nav-link {
        color: #ffffff; /* Light text color */
    }
    
    .nav-link:hover {
        background-color: #555555; /* Dark background color on hover */
        color: #ffffff; /* Light text color */
    }
    
    .navbar-brand {
        color: #ffffff; /* Light text color */
    }
    .navbar-brand:hover {
        color: #9fd8e2; /* Light text color */
    }

    .navbar-toggler-icon {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
    }

    footer {
        background-color: #313131;
        /* Dark footer background */
        color: #ffffff;
        /* Light text color */
    }

    footer p {
        color: #ffffff !important;
        /* Light text color for <p> elements in footer */
    }

    /* Custom button styles */
    button.custom-btn {
        background-color: #333333;
        /* Dark button background */
        color: #ffffff;
        /* Light text color */
        border-color: #333333;
        /* Match border color with background */
    }

    /* Custom button hover styles */
    button.custom-btn:hover {
        background-color: #555555;
        /* Slightly lighter dark background on hover */
        color: #ffffff;
        /* Light text color */
        border-color: #555555;
        /* Match border color with hover background */
    }

    /* Custom icon styles */
    button.custom-btn i {
        color: #ffffff;
        /* Light text color */
    }
}